spring:
  application:
    name: watch-wise-api
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  flyway:
    enabled: false

trakt:
  api:
    base-url: https://api.trakt.tv
    client-id: changeme
jwt:
  secret: changemechangemechangemechangeme
  expiration-seconds: 3600
