---
name: API CI

'on':
  push:
    paths:
      - 'watchwise-api/**'
  pull_request:
    paths:
      - 'watchwise-api/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Build with Gradle
        run: |
          cd watchwise-api
          ./gradlew build
